* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.main-layout {
  display: flex;
  margin: var(--content-limit-margin);
  max-width: var(--page-max-width);
  width: var(--full);
  justify-content: flex-start;
  height: calc(100dvh - 92.8px);
}

@media(max-width: 950px) {
  .main-layout {
    flex-direction: column-reverse;
  }
}

.show {
  display: flex;
}

.hide {
  display: none;
}

form {
  max-width: var(--form-max-width);
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

.content-wrapper {
  max-width: var(--page-max-width);
  margin: var(--content-limit-margin);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--full);
}

.btn {
  padding: var(--button-padding);
  outline: none;
  border: none;
  border-radius: var(--element-design-border-radius);
  background: none;
  text-wrap: nowrap;
}

.btn:hover {
  box-shadow: var(--button-box-shadow);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}