* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
}

.btn {
  outline: none;
  border: none;
  background: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.headline-underline {
  width: 150px;
  border: 2px solid #4589ff;
}

.auth-btn {
  width: 135px;
  height: 48px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 8px;
  font-size: 18px;
}

.auth-btn:hover {
  background-color: #4589ff;
}

.input-field {
  width: 350px;
  border: none;
  padding-right: 32px;
  box-sizing: border-box;
  font-size: 19px;
}

.login-footer {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
}

.legal-wrapper {
  display: flex;
  gap: 20px;
  width: 240px;
}

.lock-img{
  cursor: pointer;
}

.checkbox{
  cursor: pointer;
}