.btn{
    outline: none;
    border: none;
    background: none;
    padding-block: 0;
    padding-inline: 0;
}

.auth-btn {
  width: 135px;
  height: 48px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 8px;
  font-size: 18px;
}

.auth-btn:hover {
  background-color: #4589ff;
}

