button {
    outline: none;
    border: none;
    background: none;
}

.login-btn {
    
    width: 135px;
    height: 48px;
    background-color: #1268FF;
    color: white;
    border-radius: 8px;
    font-size: 18px;
}

.submit-btn {
    width: 135px;
    height: 48px;
    background-color: transparent;
    color: #647188;
    border: #647188 2px solid;
    border-radius: 8px;
    font-size: 18px;
}