/** Logo Animation start **/

.logo-animation {
  position: absolute;
  top: calc(50% - var(--logo-half-width));
  left: calc(50% - var(--logo-half-width));
  transform: scale(2);
  animation: white-logo var(--logo-animation-duration) ease-in var(--logo-animation-delay) forwards;
}
.logo-animation-white {
  width: var(--logo-width);
}

.logo-path {
  fill: var(--logo-color);
  animation: logo-color-change var(--logo-color-change-duration) ease-in forwards;
}

.logo-path.reverse {
  fill: var(--primary-color);
  animation: logo-color-change var(--logo-color-change-duration) reverse forwards;
}

@keyframes logo-color-change {
  0% {
    fill: var(--white-color);
  }

  100% {
    fill: var(--primary-color);
  }
}

@keyframes white-logo {
  0% {
    transform: scale(2);
  }

  100% {
    top: 12px;
    left: var(--logo-position-left);
    transform: scale(0.75);
  }
}

/** Logo Animation end **/

/** Dialog stylings **/

.auth-dialog[open] {
    padding: 30px;
    margin: auto;
    border-radius: 16px;
    bottom: 25%;
    position: fixed;
    border: none;
    outline: none;
    background-color: var(--active-menu-color);
    color: var(--white-color);
    animation: slide-in-from-bottom 300ms ease-out;
}

dialog::backdrop {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
}

@keyframes slide-in-from-bottom  {
    from {
        transform: translateY(100vh);
        opacity: 0;
    }

    to {
        transform: translateY(0%) ;
        opacity: 1;
    }
}

/* error-msg */

.visibility-hidden{
  visibility: hidden; 
}

.error-msg{
  color: var(--red-color);
  width: var(--full);
  padding-left: 16px;
  height: 1rem;
}

#privacy-policy-error-msg{
  text-align: center;
}

.error-message-border-bottom{
  border-bottom: var(--error-message-border-bottom);
}
