.contacts-section {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
    padding: var(--padding);
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1);
    height: calc(100dvh - 2 * var(--padding-top-bottom) - 41.3px);
    overflow-y: scroll;
    position: relative;
}

@media(max-width: 950px) {
    .main-layout {
        height: var(--page-content-height);
    }

    .contacts-section {
        flex: 1;
    }
}

.btn-new-contact {
    display: flex;
    gap: var(--gap-medium);
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--white-color);
}

@media(max-width: 500px) {
    .btn-new-contact {
        position: absolute;
        width: 50px;
        height: 50px;
        bottom: var(--medium-font-size);
        right: var(--medium-font-size);
        z-index: 10;
    }

    .btn-new-contact > span {
        display: none;
    }

    .btn-new-contact > img {
        width: var(--back-btn-image-dimensions);
        height: var(--back-btn-image-dimensions);
    }
}

#contacts {
    display: flex;
    flex-direction: column;
}

.letter {
    padding: 16px 46px;
    font-size: 24px;
}

.seperator {
    border-bottom: 2px solid var(--contact-seperator-color);
    margin: 8px 0 8px 0;
    width: calc(var(--full) * 0.95);
    align-self: center;
}

.contact-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--gap-large);
    padding: var(--padding-medium);
    font-size: var(--medium-font-size);
    border-radius: var(--element-design-border-radius);
}

.contact-card:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.profile-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--small-user-badge-width);
    height: var(--small-user-badge-width);
    padding: var(--padding-small);
    border-radius: var(--border-radius-circular);
    border: 2px solid var(--white-color);
    font-size: 16px !important;
    color: var(--white-color);
}

.name-and-mail {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.name {
    text-wrap: nowrap;
}

.mail {
    color: var(--primary-color);
    font-size: var(--small-font-size);
    ;
}

.background-primary,
.background-primary:hover {
    background-color: var(--primary-color);

    .name,
    .mail {
        color: var(--white-color);
    }
}

.contact-details {
    position: relative;
}

.detailed-contact {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
    padding: var(--padding);
    position: fixed;
    transform: translateX(100%);
    transition: transform 600ms ease-in-out;
    background-color: var(--white-color);
    min-height: 100dvh;
    width: var(--full);
}

.animation-right {
    transform: translateX(0);
}

.profile-badge-large {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--large-profile-badge-dimensions);
    height: var(--large-profile-badge-dimensions);
    padding: var(--padding-small);
    border-radius: var(--border-radius-circular);
    color: var(--white-color);
}


.detail-header {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
    ;
    align-items: flex-start;
    justify-content: center;
    width: var(--full);
}

@media(max-width: 950px) {
    .detail-header {
        flex-direction: column-reverse;
    }
}

.header-content-1 {
    display: flex;
    gap: var(--gap-large);
}

.header-content-2 {
    width: var(--full);
}

.contact-info-headline-container {
    display: flex;
    justify-content: space-between;
}

.name-edit-delete {
    display: flex;
    gap: var(--gap-medium);
    flex-direction: column;
}

.arrow-btn {
    display: none;
    border: none;
    background-color: var(--white-color);
    border-radius: var(--border-radius-circular);
    width: var(--back-btn-image-dimensions);
    height: var(--back-btn-image-dimensions);
}

@media(max-width: 950px) {
    .arrow-btn {
        display: flex;
    }
}

.arrow-btn:hover {
    background-color: var(--secondary-color);
}

.large-text {
    font-size: var(--large-font-size);
}

.edit-delete {
    display: flex;
    gap: var(--gap-large);
    ;
    align-items: center;
}

.edit,
.delete {
    display: flex;
    gap: var(--gap-small);
    align-items: center;
    border: none;
    background-color: transparent;
    color: var(--black-color);
    font-size: var(--small-font-size);
    ;
}

@media(max-width: 950px) {

    .edit,
    .delete {
        display: none;
    }
}

.edit:hover,
.delete:hover {
    color: var(--primary-color);
}

.contact-information {
    display: flex;
    flex-direction: column;
    gap: var(--gap-large);
}

.phone-detail {
    text-decoration: none;
    color: var(--primary-color);
}

.info-headline {
    font-size: var(--medium-font-size);
}

.email,
.phone {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
}

.phone {
    text-decoration: none;
}

.email-text {
    font-size: var(--small-font-size);
    color: var(--primary-color);
    text-decoration: none;
}

/* dialog */
.contact-dialog[open] {
    border-radius: 0 32px 32px 0;
    display: flex;
    flex-direction: column;
    border: none;
    height: 100dvh;
    width: 50%;
}

.contact-dialog::backdrop{
    background-color: rgba(228, 221, 221, 0.5);
}

#dialog-header {
    display: flex;
    flex-direction: column;
    width: var(--full);
    background-color: var(--primary-color);
    align-items: center;
}

.dialog-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog-hedaline-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 2rem 0;
    color: var(--white-color);
}

#dialog-headline {
    font-size: var(--large-font-size);
}

#dialog-subheading {
    font-size: var(--medium-font-size);
}

.close-dialog-button {
    margin-top: calc(var(--margin-bottom-medium) /2);
    margin-right: calc(var(--margin-bottom-medium) /2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-circular);
    background-color: transparent;
    margin-left: auto;
    border: none;
}

.close-dialog-button:hover {
    background-color: var(--close-btn-hover-color);
}

.logo-header {
    /* margin-top: 2rem; */
    width: var(--small-user-badge-width);
}

.badge-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto 1rem auto;
    background-color: var(--badge-dialog-background-color);
    border-radius: var(--border-radius-circular);
    width: var(--large-profile-badge-dimensions);
    height: var(--large-profile-badge-dimensions);
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: none;
}

.data-input-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-large);
    width: calc(var(--full) * 0.75);
}

.input-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

input {
    width: var(--full);
    border: none;
}

.input-label-img {
    padding: var(--padding-small);
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-between-buttons);
    width: var(--full);
    margin-top: var(--margin-medium);
    padding-bottom: var(--padding-medium);
}

.cancel-btn,
.create-contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-small);
    ;
    border-radius: var(--element-design-border-radius);
    color: var(--guest-login-button-text-color);
    font-size: var(--small-font-size);
    border: var(--guest-login-button-border);
}

.create-contact-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
}

.cancel-btn:hover {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.add-contact-content {
    display: flex;
    border-bottom: 2px solid var(--search-bar-outline-color);
    padding: 0;
}

/* error-msg */

.visibility-hidden{
  visibility: hidden; 
}

.error-msg{
  color: var(--red-color);
  width: var(--full);
  padding-left: 16px;
  height: 1rem;
}

.add-contact-content.error-message-border-bottom {
    border-bottom: var(--error-message-border-bottom);
}