.contacts-main {
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
}

@media(max-width: 1550px) {
    .contacts-main {
        padding: 0 var(--padding-left-right);
        margin: 0;
    }
}

.contacts-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 56px 24px;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1);
    width: 30%;
}

.btn-new-contact {
    display: flex;
    gap: 16px;
    font-size: 23px;
    padding: 16px 32px;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* .btn-new-contact:hover {
    box-shadow: var(--login-box-shadow);
} */

#contacts {
    display: flex;
    flex-direction: column;
}

.letter {
    padding: 16px 46px;
    font-size: 24px;
}

.seperator {
    border-bottom: 2px solid var(--contact-seperator-color);
    margin: 8px 0 8px 0;
}

.contact-card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    padding: 8px 32px;
    font-size: 24px;
}

.contact-card:hover {
    background-color: var(--secondary-color);
    border-radius: 10px;
    cursor: pointer;

    .profile-badge {
        border: 2px solid var(--white-color);
    }
}

.profile-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 12px;
    border-radius: 50%;
    background-color: var(--user-story-color);
}

.name-and-mail {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.mail {
    color: var(--primary-color);
    font-size: 16px;
}

.contact-details {
    padding: 80px 40px;
}

.profile-badge-large {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    padding: 8px;
    border-radius: 50%;
    background-color: var(--user-story-color);
}

.detailed-contact {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.detail-header {
    display: flex;
    gap: 96px;
    align-items: center;
}

.name-edit-delete {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.large-text {
    font-size: 47px;
}

.edit-delete {
    display: flex;
    gap: 32px;
    align-items: center;
}

.edit, .delete {
    display: flex;
    gap: 4px;
    align-items: center;
    border: none;
    background-color: transparent;
    color: var(--black-color);
    font-size: 16px;
    cursor: pointer;
}

.edit:hover, .delete:hover {
    color: var(--primary-color);
}

.contact-information {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.info-headline {
    font-size: 23px;
}

.email, .phone {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.email-text{
    font-size: 16px;
    color: var(--primary-color);
}

/* dialog */
dialog[open] {
    height: 100dvh;
    border-radius: 0 32px 32px 0;
    display: flex;
    flex-direction: column; 
    width: 25%;
    padding: 0;
    border: none;
}

#dialog-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary-color);
    align-items: center;
}

.dialog-header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog-hedaline-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0 48px 0;
    color: var(--white-color);
}

#dialog-headline {
    font-size: 48px;
}

#dialog-subheading {
    font-size: 24px;
}

.close-dialog-button {
    cursor: pointer;
    margin-top: 16px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    margin-left: auto;
}

.close-dialog-button:hover {
    background-color: var(--close-btn-hover-color);
}

.logo-header {
    margin-top: 32px;
    width: 40px;
}

.badge-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto 3rem auto;
    background-color: var(--badge-dialog-background-color);
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.data-input-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 0 40px;
    width: 100%;
}

.input-wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
    width: 100%;
    border-bottom: 2px solid var(--search-bar-outline-color);
}

input {
    width: 100%;
    border: none;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    margin-top: 32px;
    padding-bottom: 32px;
}

.cancel-btn, .create-contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    border-radius: 8px;
    color: var(--guest-login-button-text-color);
    font-size: 16px;
    border: var(--guest-login-button-border);
}

.create-contact-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
}

.cancel-btn:hover {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}