.help-content {
    width: var(--full);
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    gap: var(--summary-container-gap);

    .help-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: var(--full);

        .help-title {
            font-size: var(--legal-notice-headline-font-size);
            font-weight: 700;
            line-height: 1;
            margin: 0;
        }

        .back-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: transform 0.2s ease;
            border-radius: var(--border-radius-circular);

            &:hover {
                transform: scale(1.1);
                background-color: var(--secondary-color);
            }

            img {
                width: var(--back-btn-image-dimensions);
                height: var(--back-btn-image-dimensions);
            }
        }
    }

    .help-intro {
        font-size: var(--small-font-size);;
        line-height: 1.5;
        width: var(--full);
        color: var(--black-color);
    }

    .help-section {
        width: var(--full);
        display: flex;
        flex-direction: column;
        gap: var(--gap-medium);;

        h2 {
            font-size: var(--legal-notice-subheading-font-size);
            font-weight: 700;
            line-height: 1.2;
            color: var(--primary-color);
            margin: 0;
        }

        p {
            font-size: var(--small-font-size);;
            line-height: 1.5;
            color: var(--black-color);
            margin: 0;
        }

        .help-step-intro {
            margin-bottom: 4px;
        }

        .help-step-row {
            display: flex;
            align-items: flex-start;
            gap: var(--gap-large);

            .step-number {
                font-size: var(--legal-notice-subheading-font-size);
                font-weight: 700;
                line-height: 1.2;
                color: var(--primary-color);
                min-width: 25px;
            }

            .step-content-box {
                display: flex;
                flex-direction: column;
                gap: 4px;

                h3 {
                    font-size: var(--medium-font-size);
                    font-weight: 700;
                    color: var(--primary-color);
                    margin: 0;
                }

                p {
                    font-size: var(--small-font-size);;
                    line-height: 1.4;
                    color: var(--black-color);
                    margin: 0;
                }
            }
        }
        .enjoy-it {
            font-size: var(--large-font-size);
            font-weight: bold;
            color: var(--primary-color);
        }
    }

    .highlight {
        color: var(--primary-color);
        font-weight: 500;
    }
}