h2, h3 {
  color: var(--primary-color);
}

.legal-notice-content {
  display: flex;
  flex-direction: column;
  gap: var(--summary-container-gap);
  padding: var(--padding);
  width: var(--full);
}

.legal-title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--summary-container-gap);
}

.legal-title-row h1 {
  font-size: var(--legal-notice-headline-font-size);
}

.legal-back-button {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--back-btn-image-dimensions);
  height: var(--back-btn-image-dimensions);
}

.legal-back-button:hover {
  background-color: var(--secondary-color);
  box-shadow: unset;
}

