.login-body {
  display: flex;
  flex-direction: column;
  animation: bg-change var(--bg-change-duration) ease-in forwards;
  min-height: 100dvh;
}

@keyframes bg-change {
  0% {
    background-color: var(--primary-color);
  }

  100% {
    background-color: var(--white-color);
  }
}

.login-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: var(--full);
  text-align: center;
  padding: var(--padding-top-bottom) var(--padding-left-right);
  font-size: 23px;
}

.spacing {
  height: 23px;
  width: 5px;
}

.sign-up-wrapper {
  display: flex;
  align-items: center;
  height: 48px;
  gap: 35px;
}

.login-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--full);
  flex: 1;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(var(--full) / 2);
  border-radius: var(--form-border-radius);
  opacity: var(--zero);
  animation: fade-in var(--fade-in-duration) ease-in var(--fade-in-delay) forwards;
  box-shadow: var(--login-box-shadow);
  color: var(--black-color);
}

@keyframes fade-in {
  0% {
    opacity: var(--zero);
  }

  100% {
    opacity: 1;
  }
}

.form-header {
  display: flex;
  align-items: center;
  width: var(--full);
  padding: 32px;
}

.arrow-back-btn {
  display: none;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.arrow-back-btn:hover {
  background-color: var(--arrow-back-btn-hover-color);
  border-radius: var(--border-radius-circular);
}

.heading-wrapper {
  display: flex;
  justify-content: center;
  width: var(--full);
}

.heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-heading {
  text-align: center;
  font-size: 48px;
}

.headline-underline {
  width: var(--full);
  border: var(--headline-underline-border);
}

.login-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 0;
  width: calc(var(--full) * 0.75);
  gap: 32px;
}

#checkbox-container {
  display: none;
  width: var(--full);
  margin-bottom: 32px;
  justify-content: center;
  gap: 8px;
}

#signup-btn-container {
  display: none;
  width: var(--full);
  justify-content: center;
  margin-bottom: 32px;
}

.submit-btn-container {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-top: 32px;
  padding: 0 32px 32px 32px;
  width: var(--full);
}

.guest-login-btn {
  color: var(--guest-login-button-text-color);
  border: var(--guest-login-button-border);
  border-radius: 8px;
  font-size: 18px;
}

.guest-login-btn:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.login-footer {
  display: flex;
  justify-content: center;
  width: var(--full);
  flex-shrink: 0;
  padding-bottom: 40px;
}

.legal-wrapper {
  display: flex;
  gap: 20px;
}

.legal-link-login {
  color: var(--menu-color);
  text-decoration: none;
}

.lock-img, .checkbox {
  cursor: pointer;
}

.legal-link-login:hover {
  color: var(--primary-color);
}

.logo-animation {
  position: absolute;
  top: calc(50% - var(--logo-half-width));
  left: calc(50% - var(--logo-half-width));
  transform: scale(2);
  animation: white-logo var(--logo-animation-duration) ease-in var(--logo-animation-delay) forwards;
}

.logo-animation-white {
  width: var(--logo-width);
}

.logo-path {
  fill: var(--logo-color);
  animation: logo-color-change var(--logo-color-change-duration) ease-in forwards;
}

.logo-path.reverse {
  fill: var(--primary-color);
  animation: logo-color-change var(--logo-color-change-duration) reverse forwards;
}

@keyframes logo-color-change {
  0% {
    fill: var(--white-color);
  }

  100% {
    fill: var(--primary-color);
  }
}

@keyframes white-logo {
  0% {
    transform: scale(2);
  }

  100% {
    top: 12px;
    left: var(--logo-position-left);
    transform: scale(0.75);
  }
}