h2 {
  color: var(--primary-color);
}

.privacy-policy-content {
  display: flex;
  flex-direction: column;
  gap: var(--summary-container-gap);
  padding: var(--padding);
}

.privacy-policy-title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--summary-container-gap);
}

.privacy-policy-title-row h1 {
  font-size: var(--legal-notice-headline-font-size);
}

.privacy-policy-back-button {
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  width: var(--back-btn-image-dimensions);
  height: var(--back-btn-image-dimensions);
}

@media(max-width: 600px) {
  .privacy-policy-back-button {
    display: flex;
  }
}

.privacy-policy-back-button:hover {
  background-color: var(--secondary-color);
  box-shadow: unset;
}

.mobile-navigation {
  display: flex;
  justify-content: space-between;
}

.log-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.page-links {
  display: flex;
}
