h2 {
  color: var(--primary-color);
  font-size: var(--legal-notice-subheading-font-size);
}

.privacy-policy-content {
  display: flex;
  flex-direction: column;
  gap: var(--summary-container-gap);
  padding: var(--padding);
  height: calc(100dvh - 2 * var(--padding-top-bottom) - 67.8px);
  overflow-y: scroll;
}

.back-btn-container {
  display: flex;
  width: var(--full);
  justify-content: flex-end;
}

.privacy-policy-title-row {
  display: flex;
}

.privacy-policy-title-row h1 {
  font-size: var(--legal-notice-headline-font-size);
  text-wrap: var(--noTextWrap);
}

.privacy-policy-back-button {
  border-radius: var(--border-radius-circular);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--back-btn-image-dimensions);
  height: var(--back-btn-image-dimensions);
}

.privacy-policy-back-button:hover {
  background-color: var(--secondary-color);
  box-shadow: unset;
}

.mobile-navigation {
  display: flex;
  justify-content: space-between;
}

.log-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-small);;
}

.page-links {
  display: flex;
}
