.register-header{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    font-weight: 700 !important;
}

.register-body {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 40px 0;
}

.register-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    margin-top: 80px;
}

.sign-up-form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 607px;
    width: 598px;
    background-color: var(--white-color);
    border-radius: 16px;
}

.sign-up-header-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
}

.sign-up-heading-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

/* .sign-up-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
} */