.main-layout>#sidebar {
  flex-shrink: 0;
}

.sidebar {
  display: flex;
  box-shadow: var(--sidebar-box-shadow);
  padding: 20px 0 20px 0;
  justify-content: space-between;
}

.sidebar-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  gap: 16px;
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
}

.sidebar a {
  text-decoration: none;
  color: var(--menu-color);
  text-align: left;
  display: block;
}

.sidebar-navigation a {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px 32px 8px 8px;
  transition: background-color 100ms ease, color 100ms ease;
}

.sidebar-navigation a:hover {
  background-color: var(--secondary-color);
}

.sidebar a.active,
.sidebar a.active:hover {
  background-color: var(--secondary-color);
  color: var(--menu-color);
  font-weight: 700;
}

.sidebar-navigation a img {
  width: 24px;
  height: 24px;
}

.sidebar-navigation a span {
  width: 75px;
}

.sidebar-footer {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  width: 100%;
  gap: 15px;
  align-items: flex-start;
}

.sidebar-footer a:hover {
  color: var(--primary-color);
}