#sidebar {
  display: flex;
  flex-direction: column;
  box-shadow: var(--sidebar-box-shadow);
  padding: var(--padding-top-bottom) var(--padding-left-right);
}

.svg-fill {
  fill: var(--menu-color);
}

.sidebar-navigation{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: calc(100dvh - 2 * var(--padding-top-bottom) - var(--header-height));
  width: var(--full);
}

.page-links {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);;
  width: var(--full);
}

@media(max-width: 950px) {
  #sidebar {
    z-index: 9999;
    background-color: var(--white-color);
    position: sticky;
    bottom: 0;
    padding: 0;
    box-shadow: unset;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
  }

  .sidebar-navigation {
    align-items: flex-end;
    justify-content: flex-end;
    padding: 12px var(--padding-left-right);
    height: unset;
  }

  .page-links{
    flex-direction: row;
    gap: var(--gap-small);
    justify-content: space-between;
  }
}

.page-links a{
  color: var(--menu-color);
  text-align: left;
  display: flex;
  align-items: center;
  gap: var(--gap-small);;
  justify-content: flex-start;
  border-radius: var(--element-design-border-radius);;
  padding: var(--page-link-padding);
  transition: background-color 400ms ease;
  text-decoration: none;
  text-wrap: nowrap;
  width: var(--full);
}

.page-links a:hover, .page-links a.active {
  background-color: var(--secondary-color);
}

@media(max-width: 950px) {
  .page-links a {
    flex-direction: column;
    justify-content: center;
    padding: var(--padding-small) 0;
  }

  .page-links a:hover, .page-links a.active {
    background-color: unset;
    color: var(--primary-color);

    .svg-fill {
      fill: var(--primary-color);
    }
  }
}

@media(max-width: 950px) {
  .sidebar-navigation a img{
    width: var(--page-header-help-icon-width);
    height: var(--page-header-help-icon-height);
  }
}

.sidebar-footer {
  display: flex;
  flex-direction: column;
  width: var(--full);
}

@media(max-width: 950px) {
  .sidebar-footer{
    display: none;
  }
}

.sidebar-footer a {
  text-decoration: none;
  color: var(--menu-color);
  padding: var(--page-link-padding);
  text-wrap: nowrap;
}

.sidebar-footer a:hover, .sidebar-footer a.active {
  color: var(--primary-color);
}
