.sign-up-header {
    padding-top: 40px;
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.sign-up-body {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sign-up-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1;
    margin-top: 80px;
}

.sign-up-form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 607px;
    width: 598px;
    padding: 48px;
    background-color: var(--white-color);
    border-radius: 16px;
}

.sign-up-header-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.sign-up-heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sign-up-heading {
    font-size: 48px;
    font-weight: 700;
}

.headline-underline {
  width: 150px;
  border: var(--headline-underline-border);
}

.arrow-back-btn{
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

.sign-up-input-container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 324px;
    gap: 10px;
}

.sign-up-input-container {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--search-bar-outline-color);
    justify-content: center;
}

.sign-up-input-container:nth-child(2) {
    margin-top: 30px;
}

.sign-up-input-container:nth-child(3) {
    margin-top: 30px;
}

.sign-up-input-container:nth-child(4) {
    margin-top: 30px;
}

.input-field {
  width: 350px;
  border: none;
  outline: none;
  padding-right: 32px;
  box-sizing: border-box;
  font-size: 19px;
  font-family: 'Open Sans', sans-serif;
}

.lock-img{
  cursor: pointer;
}

.checkbox-container {
    display: flex;
    width: 100%;
    margin-bottom: 32px;
    justify-content: center;
    gap: 8px;
}

.checkbox{
    cursor: pointer;
}

.privacy-policity-link::before {
    content: attr(data-text);
    font-weight: 600;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    display: block;
}

.privacy-policity-link {
    display: inline-block;
    color: var(--primary-color);
    text-decoration: none;
}

.privacy-policity-link:hover{
    font-weight: 600;
}

.sign-up-button-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.sign-up-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-shrink: 0;
    padding-bottom: 40px;
}

.legal-wrapper {
  display: flex;
  gap: 20px;
}

.legal-link-sign-up::before {
    content: attr(data-text);
    font-weight: 700;
    height: 0;
    visibility: hidden;
    display: block;
}

.legal-link-sign-up {
    display: inline-block;
    color: var(--white-color);
    text-decoration: none;
}

.legal-link-sign-up:hover{
    font-weight: bold;
}