* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
@import "../assets/fonts/open-sans-v44-latin_latin-ext-500.woff2";
@import "../assets/fonts/open-sans-v44-latin_latin-ext-600.woff2";
@import "../assets/fonts/open-sans-v44-latin_latin-ext-700.woff2";
@import "../assets/fonts/open-sans-v44-latin_latin-ext-regular.woff2";

*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

input{
    outline: none;
}

button{
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6,p{
    margin-block-start: 0;
    margin-block-end: 0;
}

body{
    margin: 0;
}