@import "../assets/fonts/open-sans-v44-latin_latin-ext-500.woff2";
@import "../assets/fonts/open-sans-v44-latin_latin-ext-600.woff2";
@import "../assets/fonts/open-sans-v44-latin_latin-ext-700.woff2";
@import "../assets/fonts/open-sans-v44-latin_latin-ext-regular.woff2";

* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

input {
    outline: none;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-block-start: 0;
    margin-block-end: 0;
}

body {
    margin: 0;
    padding: 0;
}

/* Globales Layout für den Hauptbereich auf allen Seiten */
.main-layout {
    display: flex;
    width: 100%;
    min-height: 100dvh;
    /* Mobile Anpassung: Layout von nebeneinander auf untereinander umschalten */
    @media (max-width: 768px) {
        flex-direction: column;
    }
}


/*
######  Dieser Text ist hier provisorisch für uns zu viert 
        zum besseren Verständnis aufgeschrieben und wird am Ende wieder komplett gelöscht.    #####

    ------  desktop-wide-screen ---> beschreibung in Figma  --------
Um ein einheitliches Design auf größeren Bildschirmen zu gewährleisten,
 bieten wir eine Breitbild-Layout-Lösung an. Füge bei der Umsetzung eines Breakpoints bei 1440px hinzu.
Wenn dein Bildschirm eine höhere Auflösung unterstützt, kannst du diese aktivieren, indem du
auf den Play-Button in der oberen rechten Ecke klickst 

das heisst:
1-Sidebar-Fixierung: Die Sidebar muss links fest mit einer festen Breite von 232px verankert werden, 
damit sie sich auf Desktop-Ansichten nicht verschiebt.

2-Flexibler Content-Wrapper: Der Hauptbereich muss den restlichen verfügbaren Platz auf dem Bildschirm einnehmen (flex: 1),
den Inhalt perfekt zentrieren und auf normalen Bildschirmen für eine saubere Begrenzung sorgen.

3-Widescreen-Optimierung (1440px): Dank einer gezielten Media Query ab 1440px darf das Layout 
auf breiten Bildschirmen nicht unkontrolliert ausbrechen;
stattdessen muss sich der Hintergrund bzw. das Layout an den Breitbild-Standard anpassen,
während der eigentliche Inhalt aufgeräumt und zentriert an seinem Platz bleibt.

*/


/* Globaler Wrapper für die Inhaltsbegrenzung (Desktop-gilt für Summary, Board, etc.) */
.content-wrapper {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 40px;
    box-sizing: border-box;

    @media (min-width: 1440px) {
        max-width: 100%;
    }
    
/* Mobile Anpassung: Keine Begrenzung, Sidebar unten, stattdessen Padding */
    @media (max-width:768px){
        width: 100%;
        max-width: none;
        flex-direction: column;
        padding: 16px 16px 80px 16px;
    
    }
}

