* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--white-color, #ffffff);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#header {
    background-color: var(--primary-color);
    padding: 16px var(--padding-left-right);
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-icons {
    width: 70px;
    height: 70px;
    border: 2px solid var(--white-color);
    border-radius: 50%;
}
.task-number {
    font-size: 48px;
    font-weight: bold;
    color: var(--white-color);
}
.date-text {
    font-size: 33px;
    font-weight: bold;
    color: var(--white-color);
}

.sub-text {
    font-size: 23px;
    font-weight: normal;
    color: var(--white-color);
    display: flex;
    line-height: 1.2;
}

.main-layout {
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;

    @media (max-width: 1550px) {
        .main-layout {
            .padding-main {
                padding: 0 var(--padding-left-right);
                margin: 0;
            }
        }
    }
    .summary-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
        margin-top: 80px;

        .greeting-container {
            max-width: 745px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-wrap: nowrap;

            .greeting-text {
                color: var(--greeting-text-color);
                font-size: 48px;
                font-weight: normal;
            }
            .username {
                color: var(--primary-color);
                font-size: 64px;
                font-weight: bold;
            }
        }

        .summary-card-container {
            max-width: 912px;
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 30px;
            align-items: stretch;

            .summary-cards-left {
                display: flex;
                flex-direction: column;
                gap: 23px;
                width: 672px;

                .blue-head-column {
                    width: 100%;
                    min-height: 191px;
                    background-color: var(--primary-color);
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    border-radius: 28px;
                    /* padding: 28px 48px; */

                    .urgent-task {
                        max-width: 140px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 20px;
                        margin-left: 50px;

                        .icon-and-number {
                            display: flex;
                            align-items: center;
                            gap: 20px;
                        }
                    }
                    .divider {
                        width: 3px;
                        height: 145px;
                        background-color: var(--white-color);
                    }
                }

                .other-tasks {
                    display: flex;
                    width: 100%;
                    gap: 30px;

                    .tasks-to-do,
                    .task-in-progress,
                    .task-feedback {
                        width: 204px;
                        min-height: 191px;
                        background-color: var(--white-color);
                        border-radius: 28px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 15px;
                        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);

                        .sub-text {
                            color: #000;
                            justify-content: center;
                        }
                        .task-number {
                            color: #000;
                        }
                    

                        .icon-and-number {
                            display: flex;
                            align-items: center;
                            gap: 15px;
                        }
                    }

                    .tasks-to-do {
                        background-color: var(
                            --secondary-color
                        ); 
                    }
                }
            }

            .summary-cards-right {
                display: flex;
                flex-direction: column;
                gap: 23px;
                /* padding: 28px 48px; */

                .task-in-board {
                    width: 208px;
                    height: 191px;
                    background-color: var(--white-color);
                    border-radius: 28px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);

                    .sub-text {
                        color: #000;
                        text-align: center;
                    }
                    .task-number {
                        color: #000;
                    }
                    
                    .icon-and-number {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                    }
                }

                .tasks-done {
                    width: 204px;
                    height: 191px;
                    background-color: var(--white-color);
                    border-radius: 28px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 15px;
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
                    align-self: flex-start;

                    .sub-text {
                        color: #000;
                        text-align: center;
                    }
                    .task-number {
                        color: #000;
                    }
                   
                    .icon-and-number {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                    }
                }
            }
        }
    }
}
